*{
    margin: 0;
    padding: 0;
    outline: 0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
body{
    font-family: 'Carter One', cursive;
}

/*============ navbar css ============*/
img {
	width: 50px;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    transition: all linear 0.3s;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 25px;
	padding-left: 25px;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    transition: all linear .3s;
}
.navbg{
    background:#fff;
    animation: bg 1s;
}
@keyframes bg{
    from{top:-100px}
    to{top: 0}
}
/*============ banner css ============*/
#banner{
    position: relative;
}
.banner-layer{
    position: absolute;
    content: '';
    width: 64%;
    height: 112%;
    top: 0;
    left: 0;
    background-image: url(../img/Png_Panel-Image.png);
}
.banner-text{
    margin-top: 30%;
    width: 60%;
    margin-left: 20%;
}
.banner-text h1{
    font-size: 45px;
    color: #000;
    font-weight: 400;
}
.banner-text p{
    font-size: 14px;
    color: #000;
    font-weight: 400;
    padding-bottom: 10px;
}
.banner-text a{
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    padding: 15px 20px;
    border-radius: 5px;
}

/*============ about css ============*/
#about{
    padding-top: 120px;
    padding-bottom: 105px;
}
.about-head{
    margin-top: 80px;
}
.about-head h2{
    font-size: 40px;
    color: rgb(170, 170, 70);
    font-weight: 400;
    padding-right: 130px;
    padding-bottom: 20px;
}
.about-head span{
    color: skyblue;
}
.about-head p{
    font-size: 18px;
    color: rgb(128, 125, 125);
    font-weight: 400;
    padding-bottom: 20px;
}
.about-head a{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    padding: 15px 40px;
    border-radius: 30px;
}
.about-head-img img{
    width: 90%;
}
.about-body{
    padding-bottom: 105px;
}
.about-item{
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 10px;
    transition: all linear .3s;
}
.about-item:hover{
    background: rgb(236, 229, 229);
}
.about-item h2{
    font-size: 35px;
    color: skyblue;
    font-weight: 400;
}
.about-item h5{
    font-size: 20px;
    color: rgb(96, 96, 230);
    font-weight: 400;
}
.about-item p{
    font-size: 14px;
    color: rgb(128, 125, 125);
    font-weight: 400;
}
.about-slider-text{
    padding-top: 40px;
    padding-left: 30px;
}
.about-slider-text p{
    font-size: 16px;
    color: rgb(128, 125, 125);
    font-weight: 400;
    padding-bottom: 40px;
}
.about-slider-text h5{
    font-size: 20px;
    color: rgb(96, 96, 230);
    font-weight: 400;
}
.about-slider-text h6{
    font-size: 14px;
    color: skyblue;
    font-weight: 400;
}
/*============ service css ============*/
#service{
    padding-bottom: 105px;
}
.service-header{
    margin-bottom: 80px;
}
.service-header h2{
    font-size: 40px;
    color: rgb(170, 170, 70);
    font-weight: 400;
    padding-bottom: 20px;
}
.service-header p{
    font-size: 18px;
    color: rgb(128, 125, 125);
    font-weight: 400;
    padding: 0 150px;
}
.service-item{
    background: skyblue;
    padding: 20px;
    border-radius: 0 20px;
}
.service-item img{
    width: 50%;
    padding-bottom: 20px;
}
.service-item h4{
    font-size: 25px;
    color: rgb(96, 96, 230);
    font-weight: 400;
}
.service-item p{
    font-size: 14px;
    color: rgb(128, 125, 125);
    font-weight: 400;
}
.service-footer{
    background: rgb(247, 247, 129);
    margin-top: 105px;
    padding: 30px;
    position: relative;
}
.service-body{
    padding-bottom: 10px;
}
.service-body h3{
    color: rgb(170, 170, 70);
    font-weight: 400;
}
.service-body p{
    font-size: 14px;
    color: rgb(128, 125, 125);
    font-weight: 400;
}
.serv-part h4{
    font-size: 25px;
    color: rgb(96, 96, 230);
    font-weight: 400;
}
.serv-part p{
    font-size: 14px;
    color: rgb(128, 125, 125);
    font-weight: 400;
}
.service-footer:after{
    position: absolute;
    content: '';
    width: 50%;
    height: 120%;
    top: -10%;
    right: 0;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/pexels-photo-416405.jpeg); 
    background-size: cover;
}
/*============ counter css ============*/
#counter{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/parallax.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-top: 120px;
    padding-bottom: 105px;
}
.conter-text{
    text-align: center;
}
.conter-text h2{
    font-size: 60px;
    color: #fff;
    font-weight: 400;
}
.counter-center p{
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}
.conter-text h5{
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}

/*============ blog css ============*/
#blog{
    padding-top: 120px;
    padding-bottom: 105px;
}
.h5, h5 {
	font-size: 25px;
}
.h6, h6 {
	float: left;
	padding-right: 15px;
	color: rgb(134, 130, 130);
}
.card-text:last-child {
	float: right;
	color: rgb(134, 130, 130);
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 15px;
}

/*============ contact css ============*/
#contact{
    padding-bottom: 105px;
}
.button .btn{
    padding: 10px 120px;
    background: skyblue;
}

/*============ copyright css ============*/
#copyright{
    background: #26313c;
}
.copyright{
    padding-top: 30px;
    padding-bottom: 30px;
}
.copyright p{
    color: #fff;
}
/*============ navbar css ============*/
/*============ navbar css ============*/
/*============ navbar css ============*/
/*============ navbar css ============*/
.fixedmenu .navbar-nav .nav-link {
	color: #26313c;
}








